.filter_sidebar {
    height: 100%;
    width: 360px;
    background-color: white;
    padding: 42px 36px;
    border-right: 1px solid var(--divider);
}

.filter_sidebar-header {
    font-family: "Roboto", Helvetica, sans-serif;
    color: var(--text);
    font-size: 24;
    font-weight: 400;
    margin-bottom: 24px;
}