.toolbar {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    height: 96px;
    padding: 0 36px;
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    z-index: 5;
}

.toolbar-back_button {
    color: white;
    margin-right: 42px;
}
.toolbar-back_button:hover > .icon_button-spotlight,
.toolbar-back_button > .icon_button-spotlight:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

.toolbar-title {
    color: white;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 500;
    flex-grow: 1;
}

.toolbar-search_bar {
    position: absolute;
    top: 24px;
    left: calc((100vw - 736px) / 2);
}
.toolbar-search_bar > input {
    background-color: var(--primary-light);
    color: white;
}
.toolbar-search_bar > input::placeholder {
    color: white;
}