* {
  --primary: #3F50B5;
  --primary-light: #757DE8;
  --accent: #FF5252;
  --background: #FAFAFA;
  --text: #212121;
  --text-light: #5E5E5E;
  --divider: #C8C8C8;

  margin: 0;
  box-sizing: border-box;
}

.page {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: none;
  background-color: var(--background);
}